@page
    <h1>Lista de Músicas</h1>

    <table>
        <thead>
            <tr>
                <th>ID Música</th>
                <th>Nome da Música</th>
                <th>Cantor</th>
                <th>Horário</th>
                <th>Tocado</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody id="tabela-musicas">
            <tr>
                <td>1</td>
                <td>Blinding Lights</td>
                <td>The Weeknd</td>
                <td>
                    <select>
                        <option>Almoço</option>
                        <option>Intervalo</option>
                    </select>
                </td>
                <td><div class="check"></div></td>
                <td><button class="excluir">EXCLUIR</button></td>
            </tr>

            <tr>
                <td>2</td>
                <td>Levitating</td>
                <td>Dua Lipa</td>
                <td>
                    <select>
                        <option>Almoço</option>
                        <option>Intervalo</option>
                    </select>
                </td>
                <td><div class="check"></div></td>
                <td><button class="excluir">EXCLUIR</button></td>
            </tr>

            <tr>
                <td>3</td>
                <td>As It Was</td>
                <td>Harry Styles</td>
                <td>
                    <select>
                        <option>Almoço</option>
                        <option>Intervalo</option>
                    </select>
                </td>
                <td><div class="check"></div></td>
                <td><button class="excluir">EXCLUIR</button></td>
            </tr>
        </tbody>
    </table>

    <script>
        // marca e desmarca o quadradinho azul
        document.querySelectorAll(".check").forEach(c => {
            c.addEventListener("click", () => {
                c.classList.toggle("tocado");
            });
        });

        // botão excluir
        document.querySelectorAll(".excluir").forEach(btn => {
            btn.addEventListener("click", () => {
                btn.closest("tr").remove();
            });
        });
    </script>

@section Styles {
    <link rel="stylesheet" href="~/css/Lista.css" />
}

