@page
<section class="loginContainer">
    <div class="loginCard">
        <h2>Entrar na BGPLAY</h2>

        <form>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Digite seu email" required />

            <label for="senha">Senha</label>
            <input type="password" id="senha" placeholder="Digite sua senha" required />

            <button type="submit" class="loginBtn">Entrar</button>
        </form>

        <p class="loginInfo">
            Não tem conta? <a href="#">Criar conta</a>
        </p>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
