body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #e9f1ff 0%, #d1e4ff 100%);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #004aad;
    font-weight: 700;
}

.form-container {
    max-width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    margin: 60px auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #004aad;
    margin-bottom: -5px;
}

input {
    padding: 12px;
    border: 1px solid #bfcdf0;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
    background: #f8faff;
    transition: .3s;
}

    input:focus {
        border-color: #004aad;
        box-shadow: 0 0 8px #004aad55;
    }

button {
    margin-top: 10px;
    padding: 14px;
    font-size: 16px;
    background: linear-gradient(135deg, #004aad, #ff2c2c);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

    button:hover {
        opacity: .85;
        transform: translateY(-1px);
    }
